/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
 @import "bootstrap";

 $blue: #0197F5;
 $white: #fff;

// Styles that override bootstrap so I don't have to type !important everywhere
 .navbar {
   min-height: 100px;
   margin-bottom: 0;
 }

 .navbar-nav > li > a,
 .navbar-brand {
   padding-top: 40px;
   padding-bottom: 0;
 }

 .navbar-default .navbar-nav > li > a,
 .navbar-default .navbar-brand > a {
   color: $blue;
 }

 .navbar-default .navbar-nav > li > a {
    font-size: 18px;
 }

 .navbar-default {
   background-color: $white;
   border-bottom: 1px solid $blue;
 }

 .navbar-default .navbar-brand > a {
   font-size: 32px;

   &:hover {
     text-decoration: none;
   }

 }

 ul.nav.navbar-nav.navbar-right {

   li a:hover {
     background: $blue;
     color: $white;
   }

   li.sign-in a {
     border: 1px solid $blue;
     border-radius: 5px;
     color: $blue;
     padding: 10px 20px;
     position: relative;
     top: 35px;
     right: 10px;
     font-size: 18px;

     &:hover {
       text-decoration: none;
       background-color: $blue;
       color: $white;
     }

   }

 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: $blue;
 }

 .alert {
   margin-bottom: 0;

   p {
     margin: 0;
   }

 }

 .btn-primary {
   background-color: $blue;
   border: none;
 }

@media (min-width: 992px) {
  .col-md-offset-4 {
    margin-left: 38%;
  }

  nav.navbar.navbar-default > .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.section-left {
  margin-left: 5%;
}

label.date.optional {
  display: block;
}
