$blue: #0197F5;
$white: #fff;

/* Header and navbar sections */
.navbar-nav > li > a, .navbar-brand {
  height: 100px;
}

.nav-style {
  border-right: 1px solid $blue;
}

/* Hero section */
.hero {
  background: url('nashville.jpg') no-repeat 0% 50%;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    height: 700px;
    margin-bottom: 2%;
}

.intro {
  margin-top: 8%;
  color: $white;

  h1 {
    background: rgba(95, 159, 203, 0.5);
    padding: 3rem;
    text-align: left;
  }
}

.hero-button {
  padding: 10px 20px;
  border: none;
  background: #57CD79;
  font-size: 22px;
}

/* In Devise user registration / sign-in / etc. */
.user-boxes {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  background: $white;
}

/* For new posts and user profile */
.standard-boxes {
  padding: 15px;
  margin-top: 50px;

  h1 {
    font-weight: 300;
    color: $blue;
  }
}

.btn-profile {
  margin-top: 25px;
}

/* Top headers on blog index page */
.header {
  margin-top: 5%;
  margin-bottom: 5%;
}

.header-left {
  background-color: $blue;
  color: $white;
  padding: 0px 25px 15px;
  text-align: center;
}

.header-right {
  text-align: center;
  padding-bottom: 10px;
  border: 1px solid $blue;
  color: $blue;
  font-size: 24px;
  padding-top: 8px;
  transition: all 0.5s ease;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $blue;
    }
}

/* For blog / blog posts in index & show pages */
.blog {
  margin-top: 5%;
}

.body-format {
  border-left: 1px solid #000;
  padding-left: 15px;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 1px;
}

.body-show {
  line-height: 30px;
}

.body-format, .body-show {
  margin-top: 25px;
  font-weight: 300;
  font-size: 16px;
}

/* Sections on landing page */
.section {
  margin-bottom: 7%;
}

.section-boxes {
  padding: 15px;
  margin-top: 5%;
}

.section-header-font {
  font-size: 29px;
  font-weight: 300;
  color: $blue;
  padding-bottom: 10px;
  border-bottom: 1px solid $blue;
  letter-spacing: 1.5px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $blue;
    font-weight: 400;
    border-bottom: 2px solid $blue;
  }
}

.base-font {
  margin-top: 35px;
  font-size: 18px;
  line-height: 33px;
  text-align: justify;
}

/* Showing a individual blog post */
.blog-show {
  margin: 5% 0;

    h1 {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 0;
    }

    .body, .closing {
      font-size: 16px;
    }

    .body {
      margin-top: 35px;
      text-align: justify;
    }

    .closing {
      margin-bottom: 15%;
      font-weight: 400;
      color: $blue;
      font-style: italic;
      text-align: right;
      margin-top: 35px;
    }
}

.by-line {
  font-size: 18px;
  font-weight: 300;
}

/* Modifying the wysihtml5 editor */
a[data-wysihtml5-command-value="h1"],
a[data-wysihtml5-command-value="h2"],
a[data-wysihtml5-command-value="h3"],
a[data-wysihtml5-command="small"],
a[data-wysihtml5-command-value="blockquote"],
a[data-wysihtml5-command="Outdent"],
a[data-wysihtml5-command="Indent"]
 {
  display: none !important;
}

/* Adding styles to posts on blog index page */
.posts-style {
  margin-bottom: 5%;
  padding-bottom: 1em;

    h2 {
      font-weight: 400;

      &:hover {
        color: $blue;
      }
    }

    h5 {
      font-weight: 300;
    }

    .read-more {
      color: $blue;
    }

    &:hover {
      box-shadow: 0px 3px 15px 0px rgba(107,107,107,0.3);
    }
}

.footer {
  margin: 7% 0 5% 0;
  text-align: center;
}

.comments {
  margin-top: 5%;
}

.birthday, .location {
  font-weight: 300;
}

.date {
  text-align: right;
  margin-top: 2em;
  font-weight: 300;
}

.posts-index {
  margin-bottom: 6em;
}

.by-line-index {
  font-weight: 300;
}

.field_with_errors {
  color: #ff3333;
  border-radius: 3px;
  padding: 8px;
}

#map {
  width: 600px;
  height: 400px;
}

.meeting {
  margin-top: 4.5em;
  margin-left: 3em;
}

span.red {
  color: red;
  font-weight: 600;
}

p.inline {
  display: inline-block;
}


/* Footer section styles */
.index-footer {
  padding: 2.5em;
  background-color: #0197f5;
  overflow: hidden;
  color: white;

  .links {
    margin-top: 2em;
  }

  .motto, .social {
    text-align: center;
  }

  h4 {
    font-weight: 400;
    color: $blue;
    background-color: $white;
    border: 1px solid white;
    display: inline-block;
    padding: 4px;
  }

  .motto {
    bottom: 1.5em;

    h4 {
      font-size: 1.8em;
      margin-top: 2em;
      background-color: inherit;
      color: $white;
      border: none;
      padding-left: 1em;
    }

    p {
      font-style: italic;
    }
  }

  p, a, .motto h4 {
    font-weight: 300;
  }

  a {
    color: white;

    &:hover {
      border-bottom: 1px solid white;
      padding-bottom: 3px;
      text-decoration: none;
      color: #d0f0ff;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      line-height: 30px;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 4em;
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 300px) and (max-width: 450px) {
  .intro {
    margin-top: 8rem;

    h1 {
      font-size: 25px;
      text-shadow: -1px 1px 1px rgba(70, 70, 70, 1);
      text-align: center;
    }
  }

  .hero-button {
    margin-top: 1em;
  }

  .section-header-font {
    font-size: 26px;
    padding-bottom: 3px;
  }

  .base-font {
    font-size: 15px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 650px) {
  .intro {
    margin-top: 8rem;
    padding: 2.5rem;

    h1 {
      font-size: 32px;
      text-shadow: -1px 1px 1px rgba(70, 70, 70, 1);
      text-align: center;
    }
  }

  .hero-button {
    margin-left: 25%;
    margin-top: 5%;
  }

  .section-header-font {
    line-height: 70px;
  }
}

@media only screen and (max-width: 650px) {
  #map {
    width: 100%;
    height: 300px;
  }

  .meeting {
    margin-top: 0;
  }

  .more-info {
    text-align: center;
  }

  .social {
    margin-top: 5em;
  }
}

@media only screen and (max-width: 768px) {
  .more-info {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .header-right {
    margin-top: 1.5em;
  }

  .posts-style {
    margin-bottom: 5em;
  }
}

@media only screen and (max-width: 1000px) {
  .meeting {
    bottom: 25px;

    h2 {
      font-size: 26px;
    }

    .base-font {
      font-size: 15px;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 1345px) {
  #map {
    width: 100%;
    height: 350px;
  }
}
