$blue: #0197F5;
$white: #fff;

.navbar-nav > li > a, .navbar-brand {
  height: 100px;
}

.nav-style {
  border-right: 1px solid $blue;
}

.hero {
  background: url('nashville.jpg') no-repeat 0% 50%;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    height: 700px;
}

.intro {
  margin-top: 8%;
  color: $white;

  h1 {
    background: rgba(95, 159, 203, 0.5);
    padding: 3rem;
    text-align: left;
  }
}

.hero-button {
  padding: 10px 20px;
  border: none;
  background: #57CD79;
  font-size: 22px;
}

.user-boxes {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  background: $white;
}

.standard-boxes {
  padding: 15px;
  margin-top: 50px;

  h1 {
    font-weight: 300;
    color: $blue;
  }
}

.btn-profile {
  margin-top: 25px;
}

.header {
  margin-top: 5%;
  margin-bottom: 5%;
}

.header-left {
  background-color: $blue;
  color: $white;
  padding: 0px 25px 15px;
  text-align: center;
}

.header-right {
  text-align: center;
  padding-bottom: 10px;
  border: 1px solid $blue;
  color: $blue;
  font-size: 24px;
  padding-top: 8px;
  transition: all 0.5s ease;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $blue;
    }
}

.blog {
  margin-top: 5%;
}

.body-format {
  border-left: 1px solid #000;
  padding-left: 15px;
}

.body-show {
  line-height: 30px;
}

.body-format, .body-show {
  margin-top: 25px;
  font-weight: 300;
  font-size: 16px;
}

.section {
  margin-bottom: 10%;
}

.section-boxes {
  padding: 15px;
  margin-top: 5%;
}

.section-header-font {
  font-size: 36px;
  font-weight: 300;
  color: $blue;
  padding-bottom: 10px;
  border-bottom: 1px solid $blue;
  letter-spacing: 1.5px;

  &:hover {
    text-decoration: none;
    color: $blue;
    font-weight: 400;
    border-bottom: 2px solid $blue;
  }
}

.base-font {
  margin-top: 35px;
  font-size: 20px;
  line-height: 33px;
  text-align: justify;
}

.blog-show {
  margin: 5% 0;

    h1 {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 0;
    }

    .body, .closing {
      font-size: 16px;
    }

    .body {
      margin-top: 35px;
      text-align: justify;
    }

    .closing {
      margin-bottom: 15%;
      font-weight: 400;
      color: $blue;
      font-style: italic;
    }
}

.by-line {
  font-size: 18px;
  font-weight: 300;
}

.closing {
  text-align: right;
  margin-top: 35px;
}

a[data-wysihtml5-command-value="h1"],
a[data-wysihtml5-command-value="h2"],
a[data-wysihtml5-command="small"],
a[data-wysihtml5-command-value="blockquote"],
a[data-wysihtml5-command="Outdent"] {
  display: none !important;
}

.posts-style {
  margin-bottom: 5%;

    h2 {
      font-weight: 400;

      &:hover {
        color: $blue;
      }
    }

    h5 {
      font-weight: 300;
    }

    .read-more {
      color: $blue;
    }
}

.footer {
  margin: 7% 0 5% 0;
  text-align: center;
}

.comments {
  margin-top: 5%;
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .intro {
    margin-top: 30%;
    padding: 2.5rem;

    h1 {
      font-size: 32px;
      text-shadow: -1px 1px 1px rgba(70, 70, 70, 1);
      text-align: center;
    }
  }

  .hero-button {
    margin-left: 25%;
    margin-top: 5%;
  }
}
